powerai_version 1.5.4
rhel_version 7.5
nvidia_version 410.72
cuda_version 10.0
cudnn_version 7.3
caffe_version 1.0.0
tensorflow_version 1.12.0
ddl_version 1.2.0
pytorch_version 1.0.0
snapml_version 1.1.0
anaconda_version  5.2.0
